<div class="container container__login">
  <div class="card" style="width: 40rem;">
    <div class="card-body">
      <h5 class="card-title text-center fs-3">Login</h5>
      <form [formGroup] ="loginForm"  (ngSubmit)="loginPost(loginForm.value)">
        <div class="mb-3">
          <label for="usuario" class="form-label">Usuario</label>
          <input type="email" class="form-control" id="usuario" formControlName="username">

        </div>
        <div class="mb-3">
          <label for="contra" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="contra" formControlName="password">
          <div *ngIf="error" id="emailHelp" class="form-text text-danger">*Error al iniciar sesión. La contraseña y/o usuario son incorrectos.</div>
        </div>


        <button type="submit" class="btn btn-primary w-100">Iniciar Sesión</button>
      </form>
    </div>
  </div>
</div>
