<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/home']">Inicio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        <li  *ngIf="usuario.rol == 'jugador'; else block" class="nav-item">
          <a class="nav-link" href="https://app-tictaetoe.herokuapp.com" target="_blank">Juego</a>
        </li>
        <ng-template #block>
          <li class="nav-item">
            <a class="nav-link" href="https://app-aplicacionempresarialfront.herokuapp.com" target="_blank">Empleados</a>
          </li>
        </ng-template>


      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <h1>Bienvenido {{usuario.username}}</h1>
</div>
